body.index {
  article {
    width: 100%;
  }

  .latest-article {
    margin: 0 0 50px 0;

    .latest-article-title {
      font-weight: bold;
    }

    a.latest-article-title,
    .latest-article-title-excerpt a {
      text-decoration: none;
    }

    .latest-article-date {
      text-align: right;
      float: right;
    }
  }

  .previous-articles {
    padding: 0;
    list-style: none;

    li {
      display: flex;
      padding: 8px 10px;
      border-bottom: 1px dotted #eae4da;
    }

    a {
      flex-grow: 1;
      text-decoration: none;
      &:hover {
        text-decoration: underline
      }
    }

    .previous-article-date {
      margin-left: 1em;
      text-align: right;
      color: #333333;
    }
  }
}

