<header class="main-header">

  <div class="header-image">
    <a href="{{ site.baseurl }}/">
      <img src="{{ '/files/theme/logo_text.png' | relative_url }}" style="width: 70%"/>
    </a>
  </div>

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    <a class="blog-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>


    <a href="https://afup.org"><i class="fa fa-building icon"></i> afup.org</a>
    <a href="https://afup.org/association/devenir-membre"><i class="fa fa-user icon"></i> Devenir membre</a>

    {% if site.subheader %}
      {% for subheader_item in site.subheader %}
      <a href="{{ subheader_item.url | relative_url }}" class="nav-item-mobile-only">
        <i class="fas fa-{{ subheader_item.icon }} icon"></i>&nbsp;{{ subheader_item.label }}
      </a>
      {% endfor %}
    {% endif %}

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>
    <img src="{{ '/files/theme/logo_simple.png' | relative_url }}" class="logo-image" alt="{{ site.title }}"/>
  </nav>
</header>
