.subheader-link {
  font-family: Roboto;
  display: block;
  padding: 1em;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: 1px solid #ddd;
  font-size:1em;
  margin: 1em;

  &:hover {
    color: #fff;
    background-color: #1d2241;
  }

  .icon {
    margin-right: 10px;
  }
}

.subheader {
  margin: 1em 0;
}
