pre {
  line-height: 1.5;
  border: 1px solid #ddd;
  padding: 1em;
  background: #F9F8F6;
  margin: 2em 0;
  code {
    background-color: transparent;
    overflow: auto;
  }
}

code,
pre {
  font-family: "Menlo", 'Andale Mono', 'Consolas', monospace;
  font-size: .9em;
  line-height: 1.3;
  -webkit-font-smoothing: auto;
}
